trigger:
  branches:
    include:
      - main
      - devlov
pool:
  name: JavaVMAgent
  demands:
    - agent.os -equals Linux

variables:
  TOMCAT_HOME: /opt/tomcat9
  APP_NAME: JavaLoginShowcase
  APP_WAR_NAME: JavaLoginShowcase-1.0.0.war
  REPO_URL: https://github.com/prashantpandey204/JavaLoginPracticeApp.git
  BACKUP_DIR: /opt/tomcat9/webapps/backup

stages:
-  stage: PreRequisites
# 1️⃣ Pre-Requisites stage
   jobs:
    - job: PreReq
      displayName: 'Install Pre-requisites'
      steps:
      - task: CmdLine@2
        inputs:
          script: |
            echo "Installing Java, Maven, Git, wget..."
            sudo apt update
            sudo apt install -y openjdk-11-jdk maven git wget curl
        
    # 2️⃣ Tomcat Install & Stop Job
    - job: TomcatSetup
      displayName: 'Tomcat Install & Stop'
      dependsOn: PreReq
      steps:
        - script: |
            if [ ! -d "$TOMCAT_HOME" ]; then
              echo "Installing Tomcat 9..."
              cd /opt
              sudo wget https://archive.apache.org/dist/tomcat/tomcat-9/v9.0.85/bin/apache-tomcat-9.0.85.tar.gz
              sudo tar -xvzf apache-tomcat-9.0.85.tar.gz
              sudo mv apache-tomcat-9.0.85 tomcat9
              sudo chown -R $(whoami):$(whoami) $TOMCAT_HOME
            else
              echo "Tomcat already installed"
            fi
          displayName: 'Install Tomcat 9'
        
        - script: |
            echo "Stopping Tomcat if running..."
            $TOMCAT_HOME/bin/shutdown.sh || true
            sleep 5
          displayName: 'Stop Tomcat'

- stage: GitCloneBuildartifact
  jobs:         
    # 4️⃣ Git Clone & Build Job
    - job: Build
      displayName: 'Clone Repo & Build WAR'
      steps:
        - script: |
            if [ -d ~/JavaLoginPracticeApp ]; then
              rm -rf ~/JavaLoginPracticeApp
            fi
            git clone $(REPO_URL)
          displayName: 'Clone Git Repository'

        - script: |
            cd ~/JavaLoginPracticeApp
            mvn clean package -B

- stage: DeployJavaApponTomcat
  jobs:
    # 5️⃣ Deploy WAR & Start Tomcat Job
    - job: Deploy
      displayName: 'Deploy WAR & Start Tomcat'
      steps:
        - script: |
            cp ~/JavaLoginPracticeApp/target/$APP_WAR_NAME $TOMCAT_HOME/webapps/
            echo "WAR deployed"
          displayName: 'Deploy WAR'

        - script: |
            $TOMCAT_HOME/bin/startup.sh
            sleep 10
          displayName: 'Start Tomcat'

        - script: |
            if curl -s http://localhost:8080/$APP_NAME-1.0.0/index.html > /dev/null; then
              echo "Deployment successful!"
          displayName: 'Verify Deployment'
